@import '../../styles/mixins';

.home-app {
/*  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;*/

  .page-container {
    height: 100%;
    background-color: #8aa6c1;
  }
}
