@import '../../styles/mixins';

.home-default-page {
  text-align: center;
  .app {
    text-align: center;
  }

  .rekit-logo {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.08;
    height: 190px;
  }

  .app-intro {
    font-size: large;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }


  a {
    color: #0288d1;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  p.memo {
    width: 500px;
    color: #999;
    font-size: 12px;
    line-height: 150%;
    margin: auto;
  }

  @keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.home-default-body{
  height: 400px;
  width: 100%;
  background-color: #5E740B;
}
