<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--
        ProxyFactoryBean负责为其它Bean创建代理类，常见的属性配置如下：
            target: 代理的目标对象;
             :代理所要实现的接口，可以是多个接口，该属性还有一个别名属性interfaces;
            interceptorNames:需要织入目标对象的Bean列表，采用Bean的名称指定，这些Bean必须是实现了org.aopalliance.intercept.MethodInterceptor
                或org.springframework.aop.MethodBeforeAdvice的Bean,配置中的顺序对应调用顺序
            sigleton:返回的代理是否是单例，默认是单例
            optimize:当设置为true时，强制使用CGLib代理。（CGLib创建代理的速度慢，但是创建出来的代理对象运行效率高，而JDK的代理正好相反，所以单例的代理推荐用CGLib）
            proxyTargetClass:是否对类进行代理（而不是对接口进行代理），设置为true时，使用CGLib代理。设置为true时将忽略proxyInterfaces属性。
    -->

    <!--前置增强-->
    <!--指定代理的接口(使用CGLlib时不需要)，指定使用的代理，指定对那个类进行代理-->
    <bean id="eatBeforeAdvice" class="richey.springaop.advice.EatBeforeAdvice"/>
    <bean id="engineerTarget" class="richey.springaop.entity.Engineer"/>
    <bean id="engineer" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="richey.springaop.entity.People"
          p:interceptorNames="eatBeforeAdvice"
          p:target-ref="engineerTarget"
    />


    <!--异常抛出增强-->
    <bean id="transactionManager" class="richey.springaop.advice.TransactionManager"/>
    <bean id="staffServiceTarget" class="richey.springaop.advice.service.StaffService"/>
    <bean id="staffService" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="transactionManager"
          p:target-ref="staffServiceTarget"
          p:proxyTargetClass="true"/>

    <!--引介增强-->
    <!--由于引介增强一定要通过创建子类生成代理，所以要强制使用CGLib-->
    <bean id="pmonitor" class="richey.springaop.advice.ControllablePerformanceMonitor"></bean>
    <bean id="peopleWithMonitor" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interfaces="richey.springaop.advice.Monitorable"
          p:target-ref="engineerTarget"
          p:interceptorNames="pmonitor"
          p:proxyTargetClass="true"
    />

    <!--静态普通方法名匹配切面-->
    <bean id="waiterTarget" class="richey.springaop.entity.Waiter"/>
    <bean id="sellerTarget" class="richey.springaop.entity.Seller"/>
    <bean id="greetingAdvice" class="richey.springaop.advisor.GreetingAdvice"/>
    <bean id="greetingAdvisor" class="richey.springaop.advisor.GreetingAdvisor" p:advice-ref="greetingAdvice"/>
    <bean id="parent" abstract="true" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="greetingAdvisor"
          p:proxyTargetClass="true"/>
    <bean id="waiter" parent="parent" p:target-ref="waiterTarget"/>
    <bean id="sellter" parent="parent" p:target-ref="sellerTarget"/>


    <!--静态正则表达式匹配切面-->
    <!--匹配模式串匹配的是目标方法的全限定名-->
    <bean id="regexpAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor"
          p:advice-ref="greetingAdvice">
        <property name="patterns">
            <list>
                <value>.*greet.*</value>
            </list>
        </property>
    </bean>
    <bean id="waiter1" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="regexpAdvisor"
          p:target-ref="waiterTarget"
          p:proxyTargetClass="true"/>


    <!--动态切面配置-->
    <bean id="dynamicAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="pointcut">
            <bean class="richey.springaop.advisor.GreetingDynamicPointcut"/>
        </property>
        <property name="advice">
            <bean class="richey.springaop.advisor.GreetingAdvice"/>
        </property>
    </bean>
    <bean id="waiter2" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="dynamicAdvisor"
          p:target-ref="waiterTarget"
          p:proxyTargetClass="true"/>

    <!--流程切面-->
    <bean id="controlFlowPointCut" class="org.springframework.aop.support.ControlFlowPointcut">
        <constructor-arg type="java.lang.Class" value="richey.springaop.advisor.WaiterDelegate"/>
        <constructor-arg type="java.lang.String" value="service"/>
    </bean>
    <bean id="controlFlowAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor"
          p:pointcut-ref="controlFlowPointCut"
          p:advice-ref="greetingAdvice"/>
    <bean id="waiter3" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:target-ref="waiterTarget"
          p:interceptorNames="controlFlowAdvisor"
          p:proxyTargetClass="true"/>

    <!--复合切面-->
    <bean id="gcp" class="richey.springaop.advisor.GreetingComposablePointcut"/>
    <bean id="composableAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor"
          p:pointcut="#{gcp.intersectionPointcut}"
          p:advice-ref="greetingAdvice"/>
    <bean id="waiter4" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="composableAdvisor"
          p:target-ref="waiterTarget"
          p:proxyTargetClass="true"/>

    <!--引介增强-->
    <bean id="introduceAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <constructor-arg>
            <bean class="richey.springaop.advice.ControllablePerformanceMonitor"/>
        </constructor-arg>
    </bean>
    <bean id="staffService1" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="introduceAdvisor"
          p:target-ref="waiterTarget"
          p:proxyTargetClass="true"/>


    <!--自动创建代理-->
    <!--自动创建代理后我们就不需要为每个需要代理的Bean用ProxyFactoryBean进行配置了-->

    <!--====基于Bean配置名规则====-->
    <!--  <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator"
      p:beanNames="*er"
      p:interceptorNames="greetingAdvice"
      p:optimize="true"/>-->
    <!--====基于Advisor匹配机制====-->
    <!--<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>-->


    <!--通过配置使用@AspectJ切面-->
    <bean id="driver" class="richey.springaop.Aspectj.Driver"/>
    <bean class="richey.springaop.Aspectj.PreDriveAspect"/>
    <!--方式1:自动代理创建，自动将@AspectJ注解的切面织入到目标bean中-->
    <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"/>

    <!--方式2:基于Schema的aop命名空间进行配置  方式1和方式2用其中一种就可以了-->
    <!--<aop:aspectj-autoproxy/>-->


    <!--引介增强-->
    <bean id="singer" class="richey.springaop.Aspectj.SuperSinger"/>
    <bean id="dancer" class="richey.springaop.Aspectj.SuperDancer"/>
    <bean class="richey.springaop.Aspectj.EnableSingerAspect"/>

</beans>