/* You can add global styles to this file, and also import other style files */

.logo{
  background-image: url('/assets/logo.png');
  background-size: cover;
  width: 195px;
  height: 45px;
  display: block;
  background-repeat: no-repeat;
}
.btn{
  height: 35px;
  width: 92px;
}
