<!DOCTYPE html>
<html lang="en" ng-app="myDirectiveApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS-directive2</title>
</head>
<body>
    <h2>利用transclude嵌入模板</h2>
    <div sidebox title="Links">
        <ul>
            <li>First Link</li>
            <li>Second Link</li>
        </ul>
    </div>
    <div sidebox title="TagCloud">
        <div class="TagCloud">
            <a href="">JAVA</a>
            <a href="">Angular</a>
            <a href="">react</a>
            <a href="">python</a>
        </div>
    </div>

    <script src="//cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="../../js/practice/directive.js"></script>
</body>
</html>