<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello login</title>
    <!-- build:css ../../css/index.min.css -->
    <link rel="stylesheet" type="text/css" href="../../css/module/index.css"/>
    <!-- /build -->
</head>
<body ng-controller="IndexMain">
<div ng-controller="loginIndex">
    <div id="loginModal" class="modal show">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close">x</button>
                    <h1 class="text-center text-primary">登录</h1>
                </div>
                <div class="modal-body">
                    <form action="" class="form col-md-12 center-block">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="电子邮件">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" placeholder="登录密码">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block">立刻登录</button>
                            <span><a href="#">找回密码</a></span>
                            <span><a href="#" class="pull-right">注册</a></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- build:js ../../js/index.min.js -->
<script data-main="../../js/app/index/main.js" src="//cdn.bootcss.com/require.js/2.3.3/require.js"></script>
<!-- /build -->
</body>
</html>