<div class="container-fluid" style="padding: 0;min-width: 1024px">
  <header>
      <div class="pull-right right">
        <button type="button" class="btn btn-default regist">注册</button>
        <button type="button" class="btn btn-default login">登录</button>
      </div>
      <div class="pull-right">
        <ul class="list-inline">
          <li><a class="active">首页</a></li>
          <li><a routerLink="client" routerLinkActive="active">关于我们</a></li>
          <li><a>关于我们</a></li>
          <li><a>关于我们</a></li>
          <li><a>关于我们</a></li>
        </ul>
      </div>
      <div class="pull-left left">
        <a><i class="logo"></i></a>
      </div>
  </header>
  <section style="width:100%;height: 100vh;background-size: cover" [ngStyle]="{'background-image':'url('+photo+')'}">


  </section>
</div>


