<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="length=device-length, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../bower_components/orgchart/dist/css/jquery.orgchart.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/richey-orgchart.css" />
    <link rel="stylesheet" href="../../../bower_components/font-awesome/css/font-awesome.min.css">
</head>
<body ng-controller="OrganizationController">

    <richey-orgchart disable-collapsable="false" org-data="orgData" richey-add-childrennode="addChildrenNode(name)"></richey-orgchart>

<script data-main="../../js/modules/organization/main" src="../../../bower_components/requirejs/require.js" defer async="true"></script>
</body>
</html>